@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif !important;
}

button , input{
    font-family: 'Montserrat', sans-serif !important;
}

h3{
    font-size: 30px;
    font-weight: bold;
    color: var(--violet);
}

section{
    padding: 60px 0;
}

footer{
    padding: 60px 0;
}

a{
    text-decoration: none;
}

:root{
    --violet : #7562E0;
    --dark : #625C7E;
}

.text-dark{
    color: var(--dark);
}

.text-violet{
    color: var(--violet);
}

/* utilitaires ******************************************************** */
/* **************************************************************************** */
.mt-1{
    margin-top : 0.25rem;
}

.mt-2{
    margin-top : 0.5rem;
}

.mt-3{
    margin-top : 0.75rem;
}

.mt-4{
    margin-top : 1rem;
}
.mt-5{
    margin-top : 1.5rem;
}



.ml-1{
    margin-left : 0.25rem;
}

.ml-2{
    margin-left : 0.5rem;
}

.ml-3{
    margin-left : 0.75rem;
}

.ml-4{
    margin-left : 1rem;
}
.ml-5{
    margin-left : 1.5rem;
}

.mb-1{
    margin-bottom : .25rem;
}
.mb-2{
    margin-bottom : .5rem;
}
.mb-3{
    margin-bottom : .75rem;
}

.mb-4{
    margin-bottom : 1rem;
}
.mb-5{
    margin-bottom : 1.5rem;
}

.pl-1{
    padding-left : 0.25rem;
}

.pl-2{
    padding-left : 0.5rem;
}

.pl-3{
    padding-left : 0.75rem;
}

.pl-4{
    padding-left : 1rem;
}
.pl-5{
    padding-left : 1.5rem;
}

.pt-1{
    padding-top : 0.25rem;
    }

    
.pt-2{
padding-top : 0.5rem;
}

.pt-3{
    padding-top : 0.75rem;
}

.pt-4{
    padding-top : 1rem;
}
.pt-5{
    padding-top : 1.5rem;
}

.p-5{
    padding : 1.5rem;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.font-bold{
    font-weight:bold;
}
/*fin utilitaires ******************************************************** */
/* **************************************************************************** */


/*nav ******************************************************** */
/* **************************************************************************** */
.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar-right ul{
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.navbar .navbar-right ul li{
    margin-left: 15px;
}

.navbar .navbar-right ul li a{
    color: var(--black);
    transition: all .3s ease-in-out;
}

.navbar .navbar-right ul li a:hover{
    color: var(--violet);
    /* transition: all .3s ease-in-out; */
}

/*fin nav ******************************************************** */
/* **************************************************************************** */


/*brand ******************************************************** */
/* **************************************************************************** */
.brand{
    display: flex;
    width: 100%;
}

.brand-left{
    width: 60%;
}

.brand-left .title{
    font-size: 2.25rem;
}

header{
    height: 80vh;
    background-image: url(../res/images/blob.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 100%; */
    background-position: right;
}

.brand-right{
     width: 40%;
    /* height: 100%; */
    /* background-position: center; */
    /* max-height: 600px; */
   
}

.img-header img{
    width: 310px;
    height: 310px;
}

.img-header{
    border: 10px solid var(--violet);
    border-radius: 50%;
    width: 310px;
    height: 310px;
}

.brand--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid white;
}

/*fin brand ******************************************************** */
/* **************************************************************************** */


/*sponsor ******************************************************** */
/* **************************************************************************** */
.sponsor-img{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-wrap: wrap;

}


.sponsor-img img{
    height: auto;
    flex-basis: 25%;
    margin-left: 1rem;
    flex-wrap: wrap;
}

/*fin sponsor ******************************************************** */
/* **************************************************************************** */


/*fin experience ******************************************************** */
/* **************************************************************************** */
.experience{
    /* background-color:#7562e010; */
    padding: 30px 0 30px 0;
    /* height: 90vh; */
    margin-top: -300px;
}

.partnerss{
    background-color: #fafcfe;
    height: 70vh;
    padding: 60px 0 0 0;
}

.partners{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.partners img{
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.experience--part{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.experience--part__left{
    width: 18%;
}

.experience--part__left h1{
    font-size: 80px;
    font-weight: bold;
    color: var(--violet);
}

.experience--part__left p{
    font-size: 20px;
    font-weight: bold;
    color: var(--black);
}

.experience--part__right{
    width: 80%;
}

.experience--part__rightCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.experience--part__rightCard{
    height: 250px;
    background:white;
    width: 31%;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 30px;
    position: relative;
    transition: all .3s ease-in-out;
    border: 2px solid #f7f6f9;
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.18);

}

.experience--part__rightCard:hover{
    background:var(--violet);
    border: 2px solid white;
    box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.05);
}

.experience--part__rightCard:hover div h4{
    color: white;
    margin-bottom: 30px;
}

.experience--part__rightCard:hover div i{
    color: white;
}

.experience--part__rightCard:hover div a{
    color: white;
    visibility:visible;
    opacity: 1;
}

.experience--part__rightCard div{
    position: absolute;
    bottom: 20px;
}

.experience--part__rightCard div h4{
    color: #7562e0;
    font-size: 20px;
    margin-top: 20px;
    transition: all .3s ease-in-out;
}

.experience--part__rightCard div i{
    color: #7562e0;
    font-size: 30px;
    /* margin-bottom: 30px; */
    transition: all .3s ease-in-out;
}

.experience--part__rightCard div a{
    color:white;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
}

/*fin experience ******************************************************** */
/* **************************************************************************** */

.item--content{
    color :white;
    position:absolute;
    bottom:0px;
    text-align: center;
}

/* .brand--image{
    z-index: 9999;
    width: 100%;
    height: auto;
} */
/*boutons ******************************************************** */
/* **************************************************************************** */

button{
    background: none;
    border: 2px solid #625C7E;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 20px 30px;
    cursor: pointer;
}

.button {
    box-shadow: 0.3em 0.3em 0 0 var(--violet), inset 0.3em 0.3em 0 0 var(--violet);
    transition: all .3s ease-in-out;
}

.button:hover, .button:focus {
box-shadow: 0 0 0 0 var(--black), inset 6em 3.5em 0 0 var(--black);
}
/*fin boutons ******************************************************** */
/* **************************************************************************** */


table .tr{
    border : none;
}

/* work************************************************************************/
/* ******************************************************************************** */
    /* .work{
        margin-top: 40px;
    } */

    .work--title{
        display: flex;
       /* align-items: center; */
       justify-content: space-between; 
    }

    .work--title div{
        width: 50%;
    }

    .work--title div p{
        margin-bottom: 40px;
    }

    .work--title div a{
       color: var(--violet);
       transition: all .3s ease-in-out;
       margin-top: 40px;
    }

    .work--title div  a:hover{
        color: var(--black);
    }

    .work--cards{
       display: flex;
       align-items: center;
       justify-content: space-between; 
       flex-wrap: wrap;
       margin-top: 100px;
    }

    .work--card{
        height: 300px;
        overflow: hidden;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.18);
        margin-bottom: 20px;
        width: 31%;
        margin-right: 10px;
    }

    .work--card img{
        width: 100%;
        object-fit: cover;
        position: relative;
        transition: ease-in-out 3s;
        top: 0;
    }

    .work--card:hover img{
        transform: translateY(calc(-100% + 300px));
    }

    .waiting-rectangle {
        background-color: #ff6624;
        border-bottom-left-radius: 61px;
        width: 30%;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: 0;
      }
      
     
      
      .waiting-cover {
    
        width:100%;
      }
      .row{
          display : flex;
      }

      .col-sm-7{
          width: 45%;
          margin-left: 1rem;
      }

      .col-sm-5{
        width: 55%;
      }

      .google--button{
        text-align: center;
      }

      .waiting-text-desc{
        text-align: justify;
      }


/* fin work ************************************************************************/
/* ******************************************************************************** */


/* testimonials ************************************************************************/
/* ******************************************************************************** */
.testimonials{
    background-color: #fafcfe;

}

.testimonials .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.testimonials--card {
    box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.18);
    padding: 20px;
    border-radius: 5px ;
    position: relative;
    text-align: center;
    background-color: #fff;
     margin-bottom: 20px;
    width: 31%;
    margin-right: 10px;
    transition: all .3s ease-in-out;
    height: 320px;
}

.testimonials--card:hover .illus i {
    color: #7562e0;
}

.testimonials--card:hover  {
    transform: scale(1.02);
    cursor: pointer;
}

.testimonials--card .illus i{
    color: rgba(204, 204, 204, 0.377);
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 60px;
    transition: all .3s ease-in-out;
}

.testimonials--card .illus img{
    height: 80px ;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--violet);
}

.testimonials--card .descrip p{
    font-size: 17px;
    margin:20px 0 ;
    color:var(--violet);
}


.testimonials--card .descrip span{
    font-size: 17px;
    color:#ccc;
}

/* fin testimonials ************************************************************************/
/* ******************************************************************************** */

/* footer****** */
#footer .container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

#footer form{
    margin-top: 2rem;
}

.footer--left{
    width: 60%;
}

.footer--left h2{
    color: #625C7E;
    margin-bottom: 30px;
}

.footer--right h2{
    color: #625C7E;
    margin-bottom: 30px;
}

.footer--left h4 a{
    color: var(--violet);
    margin-bottom: 30px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons a i{
    margin-right: 20px;
    font-size: 30px;
    color: #ccc;
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
}

.icons a i:hover{
    color: #7562E0;
}

.footer--left p{
    margin-bottom: 30px;
}

.footer--right{
    width: 40%;
}

.footer--right input{
    padding: 25px 20px;
    width: 100%;
    background-color: #7562e010;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    font-size: 16px;
    /* font-weight: bold; */
    transition: all .3s ease-in-out;
}

.footer--little{
    padding: 10px;
    background-color: black;
    text-align: center;
}

.footer--little h4{
    color: white;
}

 /* input:focus{
   
   background-color: #fff;
} */
/* fin footer****** */

/* mediaqueries ************************************************************************/
/* ******************************************************************************** */


@media only screen and (max-width: 992px) {

    .experience--part{
        display: block;
    }
/* 
    .row{cd font: 1em sans-serif;
        display: block; 
    }*/
    .col-sm-7 {
        width:100%;
    }

    .col-sm-5 {
        width:100%;
    }
    .experience--part__right{
        width: 100%;
    }

    .experience--part__left{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .experience--part__rightCards{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        flex-wrap: wrap;
    }

    

    .work--title{
        display: block;
    }

    .work--title div{
        width: 100% !important;
    }

    .work--title div p{
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .work--cards{
        display: flex;
        align-items: center;
        justify-content: center; 
        flex-wrap: wrap;
        margin-top: 80px;
    }

    .work--card{
        width: 47%;
    }

    .testimonials--card{
        width: 47%;
    }

    .testimonials .container{
        display: flex;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
    }

    .footer--left{
        width: 50%;
    }

    .footer--right{
        width: 50%;
    }
}

@media only screen and (max-width: 767px){

    h3{
        font-size: 24px;
    }

    .experience--part__rightCard{
        width: 45%;
    }

    .experience{
        /* background-color:#7562e010; */
        padding: 60px 0 60px 0;
        /* height: 90vh; */
        margin-top:0px;
    }

    .partnerss{
        background-color: #fafcfe;
        height: inherit !important;
        padding: 60px 0 60px 0;
    }

    #footer .container{
        display: block;
    }

    

    .footer--left{
        width: 100%;
    }

    .footer--right{
        margin-top: 30px;
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .work--card{
        width: 100%;
    }

    .testimonials--card{
        width: 100%;
    }

    .experience--part__rightCard{
        width: 100%;
    }

    .experience{
        /* background-color:#7562e010; */
        padding: 60px 0 60px 0;
        /* height: 90vh; */
        margin-top:-100px;
    }
    
    

}

@media (min-width: 576px)
{
    .container {
        max-width: 720px;
    }
}


@media (min-width: 1200px)
{


    .container {
        max-width: 1140px;
    }

}
@media (min-width: 992px)
{
    .container {
        max-width: 960px;
    }
}


@media (min-width: 768px)
{

    .container {
        max-width: 1140px;
    }
}





/* end media ********************************************************************************************/
/* ********************************************************************************** */
